{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}theme--bordered{% endblock %}

{% block content %}
    {#    {{ page.body|richtext }}#}
    <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <a href="{{ page.homepage.url }}">
                                <img alt="Image" src="{% static 'img/ali-logo.jpg' %}" class="image--lg"/>
                            </a>
                        </div>
                        <h6 class="type--uppercase">Product Specialist - Django Developer</h6>
                        <ul class="social-list list-inline">
                            <li>
                                <a href="{{ settings.home.ProfileSettings.linkedin }}">
                                    <i class="socicon socicon-linkedin icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.facebook }}">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.github }}">
                                    <i class="socicon socicon-github icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto: {{ settings.home.ProfileSettings.email }}">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
            </div>
        <!--end of container-->
    </section>
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="masonry masonry-blog-magazine">
                        <div class="masonry__container row">
                            {% for post in blogpages %}
                                {% with post=post.specific %}
                                    <div class="masonry__item col-md-6 col-12" data-masonry-filter="Inspiration">
                                        <a class="block" href="{% pageurl post %}">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder">
                                                    {% with post.main_image as main_image %}
                                                        {% if main_image %}
                                                            {% image main_image max-1240x640 %}{% endif %}
                                                    {% endwith %}
                                                </div>
                                                <div class="article__title">
                                                    <span>{{ post.latest_revision_created_at }}</span>
                                                    <h4>{{ post.title }}</h4>
                                                </div>
                                                <div class="article__author">
                                                    {% if post.author %}
                                                        <p>By {{ post.author.profile }}</p>
                                                    {% endif %}
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                            <!--end item-->

                        </div>
                        <!--end masonry container-->
                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>



{% endblock %}
