{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block body_class %}theme--bordered{% endblock %}

{% block content %}
    {{ page.body|richtext }}
    <a id="start"></a>
    <div class="nav-container ">
        <nav class="bar bar-toggle " data-fixed-at="200">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="bar__module">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="{% static 'img/ali-logo.jpg' %}"/>
                                <img class="logo logo-light" alt="logo" src="img/disable"/>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col d-flex justify-content-end">
                        <div class="bar__module">
                            <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu">
                                <i class="stack-interface stack-menu"></i>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <!--end columns-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu"
             data-animation="from-right">
            <div class="side-menu__module pos-vertical-center text-right">
                <ul class="menu-vertical">
                    <li>
                        <a class="inner-link" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="inner-link" href="#about">About</a>
                    </li>
                    <li>
                        <a class="inner-link" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="inner-link" href="#work">Work</a>
                    </li>
                    <li>
                        <a class="inner-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--end module-->
            <div class="side-menu__module pos-bottom pos-absolute col-12 text-right">
                <ul class="social-list list-inline text-right list--hover">
                    <li>
                        <a href="#">
                            <i class="socicon socicon-google icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container">
        <section class="text-center space--md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <a href="index.html">
                                <img alt="Image" src="{% static 'img/ali-logo.jpg' %}" class="image--lg"/>
                            </a>
                        </div>
                        <h6 class="type--uppercase">Product Specialist - Django Developer</h6>
                        <ul class="social-list list-inline">
                            <li>
                                <a href="{{ settings.home.ProfileSettings.linkedin }}">
                                    <i class="socicon socicon-linkedin icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.instagram }}">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.facebook }}">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.twitter }}">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.home.ProfileSettings.github }}">
                                    <i class="socicon socicon-github icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto: {{ settings.home.ProfileSettings.email }}">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section>
            <div class="container">
                <div class="masonry">
                    <div class="masonry__container row">
                        <div class="masonry__item col-md-6 col-12"></div>
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-6.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-6.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-12.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-12.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-9.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-9.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-7.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-7.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-10.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-10.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                        <div class="masonry__item col-md-6 col-12" data-masonry-filter="Beach">
                            <a href="img/photography-8.jpg" data-lightbox="gallery">
                                <img alt="Image" src="img/photography-8.jpg"/>
                            </a>
                        </div>
                        <!--end masonry item-->
                    </div>
                    <!--end of masonry container-->
                </div>
                <!--end masonry-->
            </div>
            <!--end of container-->
        </section>
        <footer class="text-center space--sm footer-5  ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span>Our Company</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Locations</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Work With Us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="{{ settings.home.ProfileSettings.linkedin }}">
                                        <i class="socicon socicon-linkedin icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ settings.home.ProfileSettings.instagram }}">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ settings.home.ProfileSettings.facebook }}">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ settings.home.ProfileSettings.twitter }}">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ settings.home.ProfileSettings.github }}">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto: {{ settings.home.ProfileSettings.email }}">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="type--fine-print">Made in Egypt</span>
                            <img alt="Image" class="flag" src="img/flag-2.png"/>
                        </div>
                        <div>
                                <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> Soliman Ali</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>

{% endblock %}
